[Desktop Entry]
Name=Discover
MimeType=application/vnd.flatpak;application/vnd.flatpak.repo;application/vnd.flatpak.ref;
Exec=plasma-discover %F
Icon=plasmadiscover
Type=Application
X-DocPath=plasma-discover/index.html
InitialPreference=5
NoDisplay=false
Actions=Updates;
SingleMainWindow=true
GenericName=Software Center
Categories=Qt;KDE;System;
Keywords=program;software;add;install;uninstall;remove;update;apps;applications;games;

[Desktop Action Updates]
Name=See Available Updates
Icon=update-low
Exec=plasma-discover --mode update

# From https://invent.kde.org/plasma/discover/-/blob/master/discover/org.kde.discover.desktop.cmake
