# This is a super secret env var
MY_SECRET="superSecret"
MY_EXTENDED_SECRET=${MY_SECRET}
MY_EXTENDED_SECRET2=$MY_SECRET

IS_BOOLEAN=true
IS_STRING_WITHOUT_QUOTES=helloWorld!

COMMENT_INLINE= # kinda cool
