final class Main {
  Main();
    Code:
         0: aload_0
         1: invokespecial #1                  // Method java/lang/Object."<init>":()V
         4: return

  void main();
    Code:
         0: iconst_0
         1: istore_1
         2: iload_1
         3: bipush        100
         5: if_icmpgt     26
         8: getstatic     #7                  // Field java/lang/System.out:Ljava/io/PrintStream;
        11: iload_1
        12: invokedynamic #13,  0             // InvokeDynamic #0:makeConcatWithConstants:(I)Ljava/lang/String;
        17: invokevirtual #17                 // Method java/io/PrintStream.println:(Ljava/lang/String;)V
        20: iinc          1, 1
        23: goto          2
        26: return
}n
