---
title: Introduction
---

::card
---
icon: Icon
title: A complex card.
---

Default slot

#description
  ::alert
    Description slot
  ::
::

::alert{type="warning" icon="exclamation-circle"}
Oops! An error occurred
::

Hello [World]{style="background-color: var(--color-primary-500)"}!

Hello [World]{style="color: green;" .custom-class #custom-id}!

Attributes work on:

- ![](/favicon.ico){style="display: inline; margin: 0;"} image,
- [link](#attributes){style="background-color: pink;"}, `code`{style="color: cyan;"},
- _italic_{style="background-color: yellow; color:black;"} and **bold**{style="background-color: lightgreen;"} texts.

<!-- from: https://content.nuxt.com/usage/markdown -->
