ВЫБРАТЬ
    Товары.Код КАК Код,
    Товары.Наименование КАК Наименование,
    Товары.Артикул КАК Артикул,
    Товары.ФайлКартинки КАК Картинка,
    Товары.Описание КАК Описание,
    Товары.Вид КАК Вид,
    ЦеныТоваров.Цена КАК Цена
ИЗ
    РегистрСведений.ЦеныТоваров КАК ЦеныТоваров
        ЛЕВОЕ СОЕДИНЕНИЕ Справочник.Товары КАК Товары
        ПО ЦеныТоваров.Товар = Товары.Ссылка
ГДЕ
    Товары.ЭтоГруппа = ЛОЖЬ
    И ЦеныТоваров.ВидЦен = &ВидЦен

УПОРЯДОЧИТЬ ПО
    Вид,
    Товары.Родитель.Код,
    Код

// From: https://github.com/github-linguist/linguist/blob/main/samples/1C%20Enterprise/Catalog.%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D1%8B.Command.%D0%9F%D0%B5%D1%87%D0%B0%D1%82%D1%8C%D0%9F%D1%80%D0%B0%D0%B9%D1%81%D0%9B%D0%B8%D1%81%D1%82%D0%B0.CommandModule.bsl