import {LitElement, html, customElement, property} from 'lit-element';

const style = /* css */`
  .foo {
    display: block;
    border: 1px solid black;
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
  }
`;

@customElement('my-element')
class MyElement extends LitElement {

  // Declare observed properties
  @property()
  adjective = 'awesome';

  // Define the element's template
  render() {
    return html`
      <!-- text binding -->
      <div>${this.prop1}</div>

      <!-- attribute binding -->
      <div id="${this.prop2}">attribute binding</div>

      <!-- boolean attribute binding -->
      <div>
        boolean attribute binding
        <input type="text" ?disabled="${this.prop3}"/>
      </div>

      <!-- property binding -->
      <div>
        property binding
        <input type="text" .value="${this.prop4}"/>
      </div>

      <!-- event handler binding -->
      <div>event handler binding
        <button @click="${this.clickHandler}">click</button>
      </div>
    `;
  }
}

// from: https://lit.dev/docs/v1/components/decorators/
